/* 
SPDX-License-Identifier: GPL-2.0-only
Copyright © 2024 mozahzah. All rights reserved.
Author: mozahzah 
*/

* /* Global */
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 16px;
    color: #e0e0e0e0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1
{
  padding: 0;
  margin: 0;
  font-size: 42px;
  font-weight: 600;
}

h2
{
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 200;
}

h3
{
  padding: 0;
  margin: 0;
  font-size: 22px;
}

body 
{
    margin: 0;
    height: 100vh;
    background-color: #000000;
    cursor: crosshair;
}

.background-video 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3840px;
    height: 2160px;
    pointer-events: none;
    opacity: 20%;
    z-index: -1;
}

#main-section
{
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
}

#fixed-info-section
{
    width: 30%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    padding-left: 10%;
}

#content-section
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 10%;
    gap: 10px;
}

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }

#projects-section
{
  margin-top: 50px;
}

.project-container 
{
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  padding: 3% 3% 3% 3%;
  border-radius: 10px;
}

.project-container:hover 
{
  transform: scale(1.04); /* Scale the whole container */
  cursor: pointer;
}

.sub-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: #d70e0e76; */
}

.sub-section-sidebar
{
  width: 30%;
  /* background-color: #0e76a8; */
}

.sub-section-text-block
{
  width: 70%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
}

.project-image
{
  width: 100%;
  height: 100%;
}

.project-button
{
  width: 10%;
  height: 10%;
}

.project-description
{
  width: 100%;
}

@media screen and (max-width: 3840px) 
{
    .background-video 
    { 
        width: 2560px;   /* 2K/QHD width */
        height: 1440px;  /* 2K/QHD height */
    }
}
@media screen and (max-width: 2560px) 
{
    .background-video 
    {
        width: 1920px;   /* Full HD width */
        height: 1080px;  /* Full HD height */
    }
}

/*Responsive Font Size*/
@media screen and (min-width: 601px) 
{

}
@media screen and (max-width: 600px) 
{

}
@media screen and (min-width: 601px) 
{

}
@media screen and (max-width: 600px) 
{

}